{{ define "main" }}
<input type="checkbox" class="hidden toggle" id="menu-control" />
    <main class="book-container flex">
        {{ template "body" . }}
          <!-- The part of the page that begins to differ between templates -->
    </main>
      {{- partialCached "footer.html" . }}
{{ end }}

{{ define "body" }}
<aside class="book-menu">
  <div class="book-menu-content">
    {{ template "book-menu" . }}
  </div>
</aside>
<div class="book-page">
  <header class="book-menu-header">
    {{ template "book-header" . }} <!-- Mobile layout header -->
  </header>
  {{ template "post" . }} <!-- Page Content -->

  <label for="menu-control" class="hidden book-menu-overlay"></label>
</div>
{{ end }}

{{ define "post" }}
<div class="post">
  {{ with .Params.tags }}
  <div class="post__tags">
    {{ range . }}
      <a class="post__tag" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}

  <section class="post__content">
    <h1 id="title">{{ .Title }}</h1>
    <div>
      <article>
          {{ .Content }}
      </article>
    </div>
  </section>
</div>
{{ end }}


{{ define "book-menu" }}
  {{ partial "book-menu" . }}
{{ end }}


{{ define "book-header" }}
  {{ partial "book-header" . }}
{{ end }}