{{ define "main" }}
<aside>
  <div>
    {{ template "book-menu" . }}
  </div>
</aside>

<div class="post">
  {{ with .Params.tags }}
  <div class="post__tags">
    {{ range . }}
      <a class="post__tag" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}

  <section class="post__content">
    <h1 id="title">{{ .Title }}</h1>
    <div>
      <article>
          {{ .Content }}
      </article>
    </div>
  </section>
</div>
{{ end }}

{{ define "book-menu" }}
  {{ partial "partials/book-menu" . }}
{{ end }}
